.timelineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  max-height: fit-content;
  overflow-y: auto;
}
