.container {
  width: 325px;
}

.desc {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.title {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status {
  text-transform: capitalize;
}

@media screen and (max-width: 640px) {
  .container {
    width: 100%;
  }
}
